{% extends '@SyliusShop/layout.html.twig' %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% block content %}
    <h1 class="ui monster section dividing header">Results for "{{ searchTerm }}"</h1>

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui four column stackable grid">
                {% for resource in results %}
                    {% include 'OmniSyliusSearchPlugin:SearchResultSnippets:_product.html.twig' with {result: resource} %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    {{ pagination.simple(pager) }}
{% endblock %}
